.DS_Store
._.DS_Store
/.build
/Packages
xcuserdata/
*.xcuserstate
DerivedData/
.swiftpm/xcode/xcshareddata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
